@use "../globals" as *;

.project-section {
  min-height: 100vh;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 100;
  height: 100%;

  &__title {
    padding-top: 6rem;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(
        180deg,
        rgba(23, 204, 205, 1) 0%,
        rgba(139, 92, 246, 1) 62%
      );
      background-color: #8b5cf6;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 6rem;
    width: 70%;

    &__box {
      border: 1px solid #8b5cf6;
      border-radius: 1rem;
      max-width: 23rem;
      overflow: hidden;
      z-index: 100;
      display: flex;
      flex-direction: column; /* Updated to column layout */

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__text {
        padding: 1.5rem;
        width: 80%;
        position: relative;

        @media (max-width: 500px) {
          width: 100%;
        }

        h1 {
          font-size: 1.6rem;
          padding-bottom: 1rem;
        }

        p {
          line-height: 1.5;
        }
      }

      &__links {
        margin-top: auto; /* Pushes links to the bottom */
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1rem;

        &__btn {
          min-width: 40%;
          color: $text-white;
          text-decoration: none;
          background-color: #271849;
          padding: 0.5rem;
          border-radius: 0.5rem;

          span {
            display: flex;
            gap: 0.3rem;
            font-size: 1.2rem;
          }

          @media (max-width: 500px) {
            &__btn {
              min-width: none;
            }

            span {
              display: flex;
              justify-content: center;
            }

            p {
              display: none;
            }
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
