@use "../globals" as *;

.skills {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  width: 100%;

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    padding: 2rem;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      z-index: 10;
      color: $text-white;
      margin-bottom: 2.5rem;

      h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      p {
        font-size: 1.2rem;
        color: $text-grey;
        font-style: italic;

        @media (max-width: 500px) {
          text-align: center;
        }
      }
    }

    &__skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      &__1 {
        position: relative;
        display: inline-block;
        margin: 10px;

        .skill-image {
          width: auto;
          height: 5rem;
        }

        .skill-tooltip {
          visibility: hidden;
          background-color: white;
          color: black;
          text-align: center;
          border-radius: 5px;
          padding: 5px;
          position: absolute;
          bottom: 110%; /* Position above the image */
          left: 50%;
          transform: translateX(-50%); /* Center the tooltip */
          z-index: 1;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
          width: auto; /* Adjust size as needed */
        }

        &:hover .skill-tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
