@use "../globals" as *;

.mobileNav {
  position: fixed;
  color: $text-white;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  border-top: 1px solid grey;
  backdrop-filter: blur(12px);
  background: #03001417;
  z-index: 999;

  &__content {
    display: flex;
    justify-content: space-around;

    &__icon {
      color: white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
