@use "../globals" as *;

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000009c;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup {
    background: $color-black-about;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    border: 1px solid $color-grey;

    &__title {
      display: flex;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 1.6rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;

      &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 2rem;

        &:active {
          text-decoration: none;
        }

        &__image {
          width: 10rem;
          height: 10rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__text {
          margin-top: 1rem;
          text-align: center;
          p {
            color: $text-white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
